@font-face {
   font-family: 'DINEngschrift';
   src: url('../fonts/DINEngschrift.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Bahnschrift';
   src: url('../fonts/Bahnschrift.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Baskerville';
   src: url('../fonts/MBaskerville.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'DINNeuzeitGrotesk LT';
   src: url('../fonts/DINNeuzeitGroteskLT-Light.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}
